@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');


.brand-logo,h2{
  font-family: 'fangsong';
  color: #d1d1d1;
}


.input-field input[type=text]:focus {
  border-bottom: 1px solid #26a69a !important;
  box-shadow: 0 1px 0 0 #26a69a  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #26a69a !important;
  box-shadow: 0 1px 0 0 #26a69a  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}
.home{
  /* background-image: url("images/img6.jpg"); */
  background-image: linear-gradient( #EDEDED,#26a69956,#EDEDED,#26a69956);
  width: 100%;
  height: 100%;   
  
  
}
.home-card{
  
  max-width: 500px;
  height: max-content;
  margin: 0px auto;
  background-color: rgb(38 166 154 / 26%);
}
.collection-item{
  background-color: #faf9f9  !important;
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}

.post_dtl{
  font-size: 1.15rem;
  font-family: cursive;
}


/*----------------------------
            SLIDER(sign up)
----------------------------*/


slider2{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(77, 76, 76);
  overflow: hidden;
  position: fixed;
}

slider2 > *{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(77, 76, 76);
  animation: slide 12s infinite;
  overflow: hidden;
}

slide2:nth-child(1){
  left: 0%;
  animation-delay: 9s;
  background-image: url(images/img1.jpg);
  background-size: cover;
  background-position: center;
  
}

slide2:nth-child(2) {
  animation-delay: 6s;
  background-image: url(images/img2.jpg);
  background-size: cover;
  background-position: center;
  
}

slide2:nth-child(3) {
  animation-delay: 3s;
  background-image: url(images/img3.jpg);
  background-size: cover;
  background-position: center;
  
}

slide2:nth-child(4) {
  left: 0%;
  animation-delay: 0s;
  background-image: url(images/img4.jpg);
  background-size: cover;
  background-position: center;
  
}

@keyframes slide2{
  0%{left:100%; width:100%;}
  5%{left:0%;}
  25%{left: 0%;}
  30%{left:-100%; width:100%;}
  30.0001%{left:-100%; width:0%;}
  100%{left:100%; width:0%;}
}

slide2 h1{
  color: #fff;
  text-align: center;
}


/*----------------------------
            SLIDER(sign in)
----------------------------*/


slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(77, 76, 76);
  overflow: hidden;
  position: fixed;
}

slider>* {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(77, 76, 76);
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: 9s;
  background-image: url(images/img5.jpg);
  background-size: cover;
  background-position: center;

}

slide:nth-child(2) {
  animation-delay: 6s;
  background-image: url(images/img6.jpg);
  background-size: cover;
  background-position: center;

}

slide:nth-child(3) {
  animation-delay: 3s;
  background-image: url(images/img7.jpg);
  background-size: cover;
  background-position: center;

}

slide:nth-child(4) {
  left: 0%;
  animation-delay: 0s;
  background-image: url(images/img8.jpg);
  background-size: cover;
  background-position: center;

}

@keyframes slide {
  0% {
    left: 100%;
    width: 100%;
  }

  5% {
    left: 0%;
  }

  25% {
    left: 0%;
  }

  30% {
    left: -100%;
    width: 100%;
  }

  30.0001% {
    left: -100%;
    width: 0%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

slide h1 {
  color: #fff;
  text-align: center;
}



/*----------------------------
            NAVBAR
----------------------------*/


.nav-bar{
  font-family: 'Titillium Web',
  sans-serif;
  font-size: 20px ;
  margin-right: 10px;
}

nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1.3rem;
  color: rgb(8, 3, 3);
  display: block;
  padding: 0 25px;
  cursor: pointer;
  background-color: #26a69a;
}

nav {
  color: #fff;
  background-color: #26a69a;
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.btn-flat {
  
  color: #e70d0d;
  
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 44px;
  height: 56px;
  line-height: 56px;
  position:relative;
  top: 13px;
}

/*----------------------------
            LOGIN
----------------------------*/


.auth-card {
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin: 3px auto;
  top: 50%;
  transform: translate(0%, 40%);
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 1rem;
  height: 290px
  /* opacity: 0.5; */
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0px 8px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.buttons-left{
   float: left;
   left: 90px
}

.buttons-right {
  left: 20px
}

.buttons{
  margin-top: 25px
}

.auth-card h3,
.auth-card2 h3
{
  color: #fff;
  font-family: 'Kiwi Maru',
  serif;
}



::placeholder{
  color: white
}



.auth-card2 {
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin: 3px auto;
  /* top: 50%; */
  /* transform: translate(0%, 40%); */
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 1rem;
  height: 400px;
    /* opacity: 0.5; */
  top: 50px
}

input[type=text],
[type=password]
{
  /* background-color: #3CBC8D; */
  color: black;
}


/*************** scroll bar ***************/


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}